@mixin  flex-center($fd: column){
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: $fd
}


@mixin fade-in($time:0.3s, $ease: ease-in-out){
    animation: fadeIn $time $ease forwards;
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


$breakpoints: (
    zero: 0px,
    sm: 480px,
    md: 768px
);


@mixin respond($minsize:zero, $maxsize: md){
    @media screen and (min-width: map-get($breakpoints, $minsize)) 
            and (max-width: map-get($breakpoints, $maxsize)){
        @content;
    }
}