@use '../base/fonts';

@use '../abstract/mixin';
@use '../abstract/functions' as fct;


.header{
    display: flex;
    justify-content: space-between;
    font-family: "Red Rose", serif;
    color: white;
    width: 1024px;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0%;
    align-items: center;
    

    &__left{
        display: flex;
        gap: 16px;
    }

    &__left-blue{
        display: flex;
        align-items: center;
        grid-area: 4px;

        & p{
            color: #2BB1FF;
        }

        & img{
            width: 24px;
            height: 20px;
        }
    }

    &__left-orange{
        display: flex;
        align-items: center;
        gap: 4px;

        & p{
            color: #F58E39;
        }

        & img{
            width: 24px;
            height: 20px;
        }
    }


    &__mid{
        display: flex;
        gap: 8px;

        & img{
            width: 30px;
        }
    }

    .header__right {
        width: 200px;
        height: 60px;
        cursor: pointer;
        transition: filter 0.8s ease;

        img {
            width: 100%;
            height: 100%;
            transition: filter .25s ease;

            &:hover {
                filter: drop-shadow(0 0 4px #4DD5BC);
            }
        }

    }
}














.card{
    height: 100px;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border: none;

    &__inner{
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 300ms ease-in-out;
    }

    &__face{
        position: absolute;
        inset: 0;
        background-color: black;
        backface-visibility: hidden;

        &--back{
            transform: rotateY(180deg);
            background-color: red;
        }
    }

    &.is-flipped .card__inner{
        transform: rotateY(180deg);
    }

}