@use '../base/fonts';

@use '../abstract/mixin';
@use '../abstract/functions' as fct;


.header{
    display: flex;
    justify-content: space-between;
    font-family: "Red Rose", serif;
    color: white;
    width: 700px;
    

    &__left{
        display: flex;
    }

    &__mid{
        display: flex;
    }
}

.card{
    height: 100px;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border: none;

    &__inner{
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 300ms ease-in-out;
    }

    &__face{
        position: absolute;
        inset: 0;
        background-color: black;
        backface-visibility: hidden;

        &--back{
            transform: rotateY(180deg);
            background-color: red;
        }
    }

    &.is-flipped .card__inner{
        transform: rotateY(180deg);
    }

}