@use '../base/fonts';

body{
    background-color: #fff;
    margin: 0;
}

main{
    display: flex;
}


.settings-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.title{


    &__h1{
        font-family: "Red Rose", serif;
        font-weight: 700;
        font-size: 54px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        margin-bottom: 0;

    }
}


.settings-pick{
    font-family: "Almarai", sans-serif;
    width: 263px;
}


.themes{
    margin-top: 36px;


    &__title{
        display: flex;
    }


}


.player{
    margin-top:36px;
}


.board{
    margin-top: 36px;
}


.code-vibes, 
.gaming-theme,
.player__title, 
.player__blue,
.player__orange,
.board__title, 
.board__16,
.board__24, 
.board__36 {
    display: flex;
}


.code-vibes, 
.gaming-theme,
.player__blue,
.player__orange,
.board__16,
.board__24, 
.board__36 {
    margin-left: 36px;
    margin-bottom: 0px;
    cursor: pointer;
}


.themes__title,
.player__title,
.board__title {
    gap: 8px;
}



.settings-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}


.theme{
    margin-top: 100px;
}


.settings-info{
    display: flex;
    font-family: Almarai;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    gap: 8px;
}














