@use '../base/fonts';

@use '../abstract/mixin';
@use '../abstract/functions' as fct;


body{
    background-color: #303131;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header{
    margin-top: -60px;
    height: 285px;

    & img{
        width: 1200px;
    }
}


.win-section-cv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.winner{
    font-family: "Red Rose", serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
}


.player{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Red Rose", serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    gap: 8px;
    height: 80px;
    
}


.button{
    margin-top: 32px;
    cursor: pointer;
}


.draw-section-cv{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}


.itsa{
    font-family: "Red Rose", serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
}


.draw{


    &__button{
        margin-top: 24px;
    }
}