@use './components/_main-components';
@use './base/_main-base';
@use './base/fonts';



body{
    height: 100vh;
    background-color: #2f3130;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.intro{
    color: #FFFFFF;

    &__one{
        font-family: "Almarai", sans-serif;
        font-weight: 400;
        font-style: Regular;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0%;
    }

    &__two{
        font-family: "Red Rose", serif;
        font-weight: 700;
        font-style: Bold;
        font-size: 140px;
        line-height: 100%;
        letter-spacing: 0%;
        margin-top: 0;
    }
}


.controller{
    display: flex;
    position: absolute;
    left: 0;
    top: 422px;
    height: 300px;
    width: 415px;

}


.play-btn{
    width: 200px;
    height: 100px;
    background-image: url("/public/assets/play-btn.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.2s ease-in-out;
 
    &__a{
        width: 200px;
        height: 100px;
        display: flex;
    }

    &:hover {
        cursor: pointer;
        background-image: url("/public/assets/play-btn-hover.svg");
        scale: 1.1;
    }
}



