$spacing-sizes: (
    zero: 0px,
    s: 8px,
    m: 16px,
    l: 24px,
    xl: 32px
);

@each $name, $size in $spacing-sizes {
    .margin-#{$name} {
        margin: $size;
    }
}


@each $name, $size in $spacing-sizes {
    .padding-#{$name} {
        padding: $size;
    }
}